# Created june 2020; F.P.A. Vogt; frederic.vogt@alumni.anu.edu.au

name: CI_docs_check

on:
  #push:
  #   branches: [ master ]
  pull_request:
    branches: [ master, develop ]

jobs:
  docs:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      # Checkout our repository
      - uses: actions/checkout@v2

      # Set up Python
      - uses: actions/setup-python@v2
      # The following should be temporary ... right now, the default goes to 3.9, but many wheels
      # are still missing for this version.
        with:
            python-version: '3.8'

      # Install any dependency we require
      - name: Install dependancies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx
          pip install sphinx-rtd-theme
        shell: bash

      # Here, let's install our module to make sure all the dependencies specified in setup.py are
      # also installed
      - name: Install our module
        run: pip install -e .
        shell: bash

      # Launch a home-made python script to compile and check the docs.
      - name: Compile the docs and look for errors/warnings
        run: |
          cd ./docs
          python ../.github/workflows/docs_check.py

        shell: bash
